<!DOCTYPE html>
<html>
  <head>
    <title>Clinical Trial Results</title>
    <%= csrf_meta_tags %>
     <link href="https://allfont.net/allfont.css?fonts=franklin-gothic-medium" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" href="https://unpkg.com/react-quill@1.3.3/dist/quill.snow.css">

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>